@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
nav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 85px;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.logo {
  grid-column: 1/2;
  justify-self: flex-end;
}
.logo img {
  width: 120px;
}

.navbar-nav {
  padding: 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 30px;

  grid-column: 5/8;
  justify-self: center;
}
.navbar-nav li {
  list-style-type: none;
  font-size: 18px;
}

.notifications {
  position: relative;
  grid-column: 8/9;
  justify-self: center;
}
.notifications img {
  width: 20px;
  height: 30px;
}
.notifications span {
  position: absolute;
  top: -10px;
  left: 05px;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  color: white;
  background: linear-gradient(178.18deg, #4edbe5 -13.56%, #281ac8 158.3%);
  border-radius: 90px;
}
.content {
  display: grid;
  grid-template-columns: 20% 80%;
}
.side_nav {
  border: 2px solid #f0f0f0;
  border-radius: 8px;
}

.side_nav ul {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
}
.side_nav ul li {
  font-family: Poppins;
  color: rgba(133, 133, 133, 1);
  font-size: 18px;
  display: flex;
  gap: 10px;
  padding: 18px 10px 18px 100px;
  list-style-type: none;
  margin-bottom: 20px;
}
.side_nav ul li:nth-child(1) {
  margin-top: 50px;
  color: white;
  border-radius: 0px 90px 90px 0px;
  background: linear-gradient(178.18deg, #4edbe5 -13.56%, #281ac8 158.3%);
}
.side_nav ul li img {
  height: 25px;
  width: 25px;
}
.overview {
  background-color: #fff9fe;
}
.notif_count {
  font-weight: bolder;
  font-size: 14px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 4px;
  color: white;
  background: linear-gradient(178.18deg, #4edbe5 -13.56%, #281ac8 158.3%);
  border-radius: 120px;
  margin-left: 100px;
}
