@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
nav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 85px;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.logo {
  grid-column: 1/2;
  justify-self: flex-end;
}
.logo img {
  width: 120px;
}

.navbar-nav {
  padding: 20px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 82px;

  grid-column: 5/7;
  justify-self: center;
}
.navbar-nav li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bolder;
  color: #7f7f7f;

  letter-spacing: 2px;
}

.notifications {
  position: relative;
  grid-column: 7/8;
  justify-self: end;
}
.notifications img {
  width: 20px;
  height: 30px;
}
.notifications span {
  position: absolute;
  top: -10px;
  left: 05px;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  color: white;
  background: linear-gradient(178.18deg, #4edbe5 -13.56%, #281ac8 158.3%);
  border-radius: 90px;
}
.avatar {
  position: relative;
  width: max-content;
  grid-column: 8/9;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.avatar p {
  font-weight: bold;
  list-style-type: none;
  font-size: 20px;
  font-weight: bolder;
  color: #4b4b4b;
}
.avatar img {
  height: 50px;
  width: 50px;
  border-radius: 20px;
}
.profile {
  position: absolute;
  top: 120%;
  left: -100px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  height: 250px;
  z-index: 9999;
}
.profile_header {
  display: flex;
}
.profile_header img {
  height: 70px;
  width: 70px;
}
.profile button {
  width: 90%;
  border-radius: 18px;
  border: 1px #281ac8 solid;
  background: none;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.profile h4 {
  margin-top: 20px;
  margin-left: 10px;
  color: #2e2d2d;
}
.profile p {
  margin-top: 10px;
  margin-left: 10px;
  color: #6e6e6e;
  font-size: 16px;
}
.content {
  display: grid;
  grid-template-columns: 20% 80%;
}
.side_nav {
  border: 2px solid #f0f0f0;
  border-radius: 8px;
}

.side_nav ul {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
}
.side_nav ul li a {
  color: rgba(133, 133, 133, 1);
  font-size: 18px;
  display: flex;
  gap: 10px;
  padding: 18px 10px 18px 80px;
  list-style-type: none;
  margin-bottom: 20px;
  text-decoration: none;
}
.side_nav ul li:nth-child(1) a {
  margin-top: 50px;
}
.active a {
  color: white;
  border-radius: 0px 90px 90px 0px;
  background: linear-gradient(178.18deg, #4edbe5 -13.56%, #281ac8 158.3%);
}
.active span {
  color: white;
}
.side_nav ul li img {
  height: 25px;
  width: 25px;
}

.notif_count {
  font-weight: bolder;
  font-size: 14px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 4px;
  color: white;
  background: linear-gradient(178.18deg, #4edbe5 -13.56%, #281ac8 158.3%);
  border-radius: 20px;
  margin-left: 30%;
}
