.Conversion_Rate_to_Naira {
  width: 94%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
}
.Conversion_Rate_to_Naira_intro {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-size: 18px;
  color: #858585;
  font-weight: bold;
}
.py-1 {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  right: 0;
  font-size: 15px;
  border-radius: 5px;
}
.py-1 li {
  padding: 20px;
  list-style-type: none;
}
.py-1 li:hover {
  background: #dbd4d4;
  color: #010108;
}

#table_plus {
  border: none;
  background: none;
  cursor: pointer;
}

#table_plus:focus {
  outline: none;
}
.container_table_conversion {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}
.container_table_conversion button {
  background: linear-gradient(178.18deg, #4edbe5 -13.56%, #281ac8 158.3%);
  padding: 7px 20px;
  border-radius: 18px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
  align-self: center;
  border: none;
  cursor: pointer;
}
.container_table_conversion button:focus {
  outline: none;
}

.table_conversion {
  width: 97%;
  border-spacing: 0 30px;
}
#available {
  border: none;
}
#available p {
  color: white;

  background-color: #219653;
  border-radius: 18px;

  text-align: center;
  padding: 5px;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
}
#available,
#offline,
#busy {
  border: none;
}
#offline p {
  color: white;

  background-color: #eb5757;
  border-radius: 18px;

  text-align: center;
  padding: 5px;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
}

#busy p {
  color: white;

  background-color: #f2c94c;
  border-radius: 18px;

  text-align: center;
  padding: 5px;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
}

.table_conversion thead tr th,
.table_conversion tbody tr td {
  padding: 0px 20px 0px 20px;

  text-align: left;
  color: #010108;

  border-bottom: #e5e7eb solid;
}

.table_conversion tr th {
  background: #f1f1f1;
}
